@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: flex; /* Enables Flexbox layout for easy centering */
    justify-content: center; /* Horizontally centers the content */
    height: 100vh; /* Sets height to 100% of the viewport (responsive) */
    margin: 0; /* Removes default browser margin */
    background-color: #efe9f4; /* Light grayish magneta background for visibility */
}

.title-container {
    background-color: white;
}

.title-container h1 {
    color: #001931; /* Deep navy blue */
    font-family: "Open Sans", sans-serif;
    text-decoration: solid;
}

.account-container {

}

.account-container img {
    width: 150px;
    height: auto;
    margin-bottom: -20px;
}

h2 {
    font-family: ;
}