body {
      font-family: Arial, sans-serif;
      background-color: #efe9f4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
}

.question-box {
      background-color: #b8d8d8;
      padding: 30px;
      border-style: solid;
      border-color: #c7f0f0;
      border-width: 5px;
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: 400px;
      text-align: center;
}

.question-box h2 {
      color: #14213d;
      font-family: 'Agrandir', sans-serif;
}

.question-box form {
      margin-top: 20px;
}

.question-box label {
      display: block;
      margin: 10px 0;
      text-align: left;
      font-family: 'Poppins', sans-serif;
}

.question_box button {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #14213d;
      color: #efe9f4;
      border-style: solid;
      border-width: 5px;
      border-radius: 9px;
      border-color: #263d6f;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
}

.question-box button:hover {
      background-color: #d0433f;
}

.navigation_buttons {
      margin: 20px;
      text-align: center;
}

.navigation_buttons button {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #4f7cac;
      border-style: solid;
      border-width: 5px;
      border-radius: 9px;
      border-color: #729ecd;
      font-family: 'Poppins', sans-serif;
      color: #efe9f4;
      cursor: pointer;
}
.question_box {
      background-color: #b8d8d8;
      padding: 30px;
      border-style: solid;
      border-color: #c7f0f0;
      border-width: 5px;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: 400px;
      text-align: center;
}
.question_box h2 {
      color: #14213d;
      font-family: 'Agrandir', sans-serif;
}

.question_box form {
      margin-top: 20px;
}

.question_box label {
      display: block;
      margin: 10px 0;
      text-align: left;
      font-family: 'Poppins', sans-serif;
}

.question_box button {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #14213d;
      color: #efe9f4;
      border-style: solid;
      border-width: 5px;
      border-radius: 9px;
      border-color: #263d6f;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
}

.question_box button:hover {
      background-color: #d0433f;
}